.btn:not(.btn-link):hover,
input[type='button']:not(.btn):hover,
input[type='submit']:not(.btn):hover {
  color: #292b2c;
  background-color: #efefef;
  border-color: #c3c3c3;
}

.btn:focus,
input[type='button']:not(.btn):focus,
input[type='submit']:not(.btn):focus {
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-primary {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}
.btn-primary:hover {
  color: #fff;
  background-color: #025aa5;
  border-color: #01549b;
}

.btn-secondary {
  color: #292b2c;
  background-color: #fff;
  border-color: #d4d4d4;
}
.btn-secondary:hover {
  color: #292b2c;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #56ac56;
}
.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #419641;
}
.btn-success:focus,
.btn-success:focus:active {
  color: #fff;
  background-color: #398439;
  border-color: #2d672d;
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}
.btn-danger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #c12e2a;
}
.btn-danger:focus,
.btn-danger:focus:active {
  color: #fff;
  background-color: #ac2925;
  border-color: #8b211e;
}

.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.btn-warning:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #eb9316;
}
.btn-warning:focus,
.btn-warning:focus:active {
  color: #fff;
  background-color: #d58512;
  border-color: #b06d0f;
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #2aabd2;
}
.btn-info:focus,
.btn-info:focus:active {
  color: #fff;
  background-color: #269abc;
  border-color: #1f7e9a;
}

.btn-default {
  color: #bbb;
  background-color: #202329;
  border-color: #202329;
}
.btn-default:hover {
  color: #fff;
  background-color: #1a1c21;
  border-color: #1a1c21;
}
